" File              : .vimrc.custom.config
" Author            : Tristan <15997232823@163.com>
" Date              : 12.04.2020
" Last Modified Date: Sun Apr 12 2020 18:30:27 PM CST
" Last Modified By  : Tristan <15997232823@163.com>
" File              : .vimrc.custom.config
" Date              : 12.04.2020
" Last Modified Date: 12.04.2020
" File              : .vimrc.custom.config
" Date              : 12.04.2020
" Last Modified Date: 12.04.2020

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" 用户自定义配置（该文件放一般性配置，可覆盖~/.vimrc里的配置，若要增加、卸载插件，请放入~/.vimrc.custom.plugins）
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 开启相对行号
" set relativenumber  

" 开启鼠标
" set mouse=a

" 设置光标所在列高亮
" set cursorcolumn

" indentLine 开启代码对齐线

let g:indentLine_enabled = 1

" markdown
let system = system('uname -s')
if system == "Darwin\n"
    let g:mkdp_path_to_chrome = "/Applications/Google\\ Chrome.app/Contents/MacOS/Google\\ Chrome"
else
    let g:mkdp_path_to_chrome = '/usr/bin/google-chrome-stable %U'
endif
nmap <silent> <F7> <Plug>MarkdownPreview
imap <silent> <F7> <Plug>MarkdownPreview
nmap <silent> <F8> <Plug>StopMarkdownPreview
imap <silent> <F8> <Plug>StopMarkdownPreview

" Doxygen
" let g:DoxygenToolkit_authorName="chxuan, 787280310@qq.com"
" let s:licenseTag = "Copyright(C)\<enter>"
" let s:licenseTag = s:licenseTag . "For free\<enter>"
" let s:licenseTag = s:licenseTag . "All right reserved\<enter>"
" let g:DoxygenToolkit_licenseTag = s:licenseTag
" let g:DoxygenToolkit_briefTag_funcName="yes"
" let g:doxygen_enhanced_color=1
" let g:DoxygenToolkit_commentType="Qt"

autocmd BufNewFile CMakeLists.txt exec ":call SetCMakeLists()"

"设置最后5行始终可见
set scrolloff=5
set relativenumber

" Trigger ultisnips configuration.
let g:UltiSnipsExpandTrigger="<c-e>"
let g:UltiSnipsJumpForwardTrigger="<c-e>"
let g:UltiSnipsJumpBackwardTrigger="<c-z>"
let g:UltiSnipsEditSplit="vertical"

let g:UltiSnipsSnippetDirectories = [$HOME.'/.vim/plugged/ultisnips/', 'UltiSnips']

"auto add the file header
let g:header_field_author = 'Tristan'
let g:header_field_author_email = '15997232823@163.com'
map <F4> :AddHeader<CR>

"设置半透明效果
"au GUIEnter * call libcallnr ( "vimtweak.dll" , "SetAlpha" , 234 )
"colorscheme default

"load the markdown keys map
source $HOME/.vim/plugged/prepare-code/snippet/snippets.vim

"change the vimwiki to markdown
let g:vimwiki_list = [{'path': '~/vimwiki/',
                      \ 'syntax': 'markdown', 'ext': '.md'}]
